name: LOCI Analysis
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [ master ]

env:
  LOCI_PROJECT: abseil-cpp
  LOCI_API_KEY: '${{ secrets.LOCI_API_KEY }}'
  LOCI_BACKEND_URL: '${{ vars.LOCI_BACKEND_URL }}'

jobs:
  build-and-upload:
    name: Build and Upload Artifacts
    runs-on: ubuntu-latest
    environment: ${{ vars.LOCI_ENV || 'PROD__AL_DEMO' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies (including curl)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            build-essential \
            gcc-aarch64-linux-gnu \
            g++-aarch64-linux-gnu \
            libcurl4-openssl-dev
     
      - name: Create build directory and configure with CMake
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_SYSTEM_NAME=Linux \
            -DCMAKE_SYSTEM_PROCESSOR=aarch64 \
            -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
            -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
            -DCMAKE_BUILD_TYPE=Debug \
            -DBUILD_SHARED_LIBS=ON \
            -DCMAKE_CXX_FLAGS_DEBUG="-g -gdwarf-4 -O0 -fno-omit-frame-pointer" \
            -DCMAKE_C_FLAGS_DEBUG="-g -gdwarf-4 -O0 -fno-omit-frame-pointer" \
            -DABSL_BUILD_TESTING=OFF \
            -DABSL_ENABLE_INSTALL=ON \
            -DCMAKE_C_FLAGS="-march=armv8-a -Wl,-Bsymbolic" \
            -DCMAKE_CXX_FLAGS="-march=armv8-a -Wl,-Bsymbolic"


      - name: Build project
        run: |
          cd build
          cmake --build . -j4

      - name: Upload build artifacts
        uses: auroralabs-loci/loci-action@v1
        with:
          mode: upload
          binaries: |
                build/absl/strings/libabsl_cord_internal.so.0
                build/absl/strings/libabsl_cord.so.0
                build/absl/strings/libabsl_cordz_functions.so.0
                build/absl/strings/libabsl_cordz_handle.so.0
                build/absl/strings/libabsl_cordz_info.so.0
                build/absl/strings/libabsl_cordz_sample_token.so.0
                build/absl/strings/libabsl_generic_printer_internal.so.0
                build/absl/strings/libabsl_str_format_internal.so.0
                build/absl/strings/libabsl_strings_internal.so.0
                build/absl/strings/libabsl_strings.so.0
          project:  ${{ env.LOCI_PROJECT }}
          wait-base: 'true'